.button {
  border: none;
  box-shadow: none;
  border-radius: 20px;
  background-color: #FAFAFA;
  color: #424242;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.button {
  position: absolute;
  width: 120px;
  height: 40px;
  max-width: 200px;
  max-height: none;
}
.button:hover {
  background-color: #c7c7c7;
}

.banner__btn--large {
  bottom: 20%;
  right: 15%;
  transform: translate(50%, 50%);
  font-size: 20px;
  width: 180px;
  height: 50px;
  max-width: none;
  max-height: none;
  border-radius: 25px;
}

.search__btn {
  right: 2px;
  margin-right: 15px;
  width: 40px;
  z-index: 2;
}

.about__btn--italic {
  bottom: 60px;
  right: 60px;
  font-style: italic;
}

.logo {
  flex-grow: 1;
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: none;
}
.logo__img {
  width: 100%;
  border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 1500px;
  margin: 20px auto;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.banner {
  width: 100%;
  height: 500px;
  max-width: none;
  max-height: none;
  margin: 0 auto 20px auto;
  position: relative;
  overflow: hidden;
}
.banner__img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.banner__title {
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(-50%, 50%);
  color: #E0E0E0;
  font-family: "Cinzel";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 5px;
}
.banner__title--large {
  font-size: 3.75rem;
}
.banner__title--medium {
  font-size: 2.5rem;
  margin: 180px 0 0 160px;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: 1500px;
  max-height: none;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 3;
  border-top: 2px solid #616161;
  border-bottom: 2px solid #616161;
  background-color: #FAFAFA;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  flex-grow: 2;
  gap: 30px;
  margin: 0 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.menu__item {
  list-style: none;
}
.menu__item--active {
  color: #616161;
  text-decoration: underline;
}
.menu__link {
  text-decoration: none;
  color: #424242;
  font-family: "Segoe UI";
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.menu__link:hover {
  color: #E0E0E0;
}
.menu .search {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.menu .search__input {
  display: none;
  width: 180px;
  height: 44px;
  max-width: none;
  max-height: none;
  padding: 0 10px;
  margin-right: 15px;
  border-radius: 20px;
  border: #E0E0E0 2px solid;
}
.menu .search__input:focus {
  width: 200px;
}

.about {
  position: relative;
  width: 100%;
  margin: 20px auto;
  scroll-margin-top: 120px;
}
.about__photo {
  width: 100%;
  height: 500px;
  max-width: none;
  max-height: none;
  overflow: hidden;
  border-radius: 20px;
}
.about__img {
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
  width: 40%;
  padding: 30px 40px 20px 0;
  border-radius: 20px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #E0E0E0;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.about__title {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}
.about__text {
  padding: 10px;
}
.about__text--wrap {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
}
.about__text--long {
  display: none;
}
.about__text--long span {
  display: block;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
}
.about__collapsed--wrap {
  display: block;
}
.about__collapsed--long {
  display: block;
}
.about__info--expanded {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  color: #E0E0E0;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.7);
  animation: revealText 0.5s 0.3s forwards;
}
.about--transition {
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.shop {
  width: 100%;
  height: auto;
  max-width: 1500px;
  max-height: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  scroll-margin-top: 100px;
}
.shop__content {
  display: block;
  border-top: 2px solid #616161;
  border-bottom: 2px solid #616161;
}
.shop__title {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 20px 10px;
}
.shop__text {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 10px 10px 20px 10px;
}
.shop__select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
  margin: 0 auto;
  padding: 10px 0;
}
.shop__sortTitle {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 0 10px;
}
.shop__sortItem {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0 10px;
  padding: 4px;
  border: 2px solid #E0E0E0;
  border-radius: 20px;
  cursor: pointer;
}
.shop__sortItem:hover {
  border: 2px solid #4CAF50;
}
.shop__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
}
.shop .product-card {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  background-color: aqua;
}
.shop .product-card h3 {
  margin-bottom: 10px;
}
.shop .product-card img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.shop .product-card p {
  margin-bottom: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #FAFAFA;
  border-top: 2px solid #616161;
}/*# sourceMappingURL=style.css.map */