.button {
  border: none;
  box-shadow: none;
  border-radius: 20px;
  background-color: #FAFAFA;
  color: #424242;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.button {
  position: absolute;
  width: 120px;
  height: 40px;
  max-width: 200px;
  max-height: none;
}
.button:hover {
  background-color: #c7c7c7;
}

.banner__btn--large {
  bottom: 20%;
  right: 15%;
  transform: translate(50%, 50%);
  font-size: 20px;
  width: 180px;
  height: 50px;
  max-width: none;
  max-height: none;
  border-radius: 25px;
}

.search__btn {
  right: 2px;
  margin-right: 15px;
  width: 40px;
  z-index: 2;
}

.about__btn--italic {
  bottom: 60px;
  right: 60px;
  font-style: italic;
}

.product-card button {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  width: 130px;
  height: 40px;
  max-width: 200px;
  max-height: none;
  border-radius: 20px;
  background-color: #38743b;
  color: #FFFFFF;
  border: none;
  margin: 0 auto;
  box-shadow: none;
  cursor: pointer;
}
.product-card button:hover {
  background-color: #FAFAFA;
  border: 2px solid #38743b;
  color: #38743b;
}

.prev-btn,
.next-btn {
  font-family: "Cinzel";
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0px;
  background-color: #FFFFFF;
  color: #38743b;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.submit {
  position: sticky;
  margin-top: 12px;
  border: 2px solid #38743b;
  background-color: #FAFAFA;
  color: #38743b;
}
.submit:hover {
  background-color: #38743b;
  border: 2px solid #38743b;
  color: #FFFFFF;
}

.logo {
  flex-grow: 1;
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: none;
}
.logo__img {
  width: 100%;
  border-radius: 50px;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 1500px;
  margin: 0 auto 0 auto;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.banner {
  width: 100%;
  height: 500px;
  max-width: none;
  max-height: none;
  margin: 0 auto 20px auto;
  position: relative;
  overflow: hidden;
}
.banner__img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.banner__title {
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translate(-50%, 50%);
  color: #E0E0E0;
  font-family: "Cinzel";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 5px;
}
.banner__title--large {
  font-size: 3.75rem;
}
.banner__title--medium {
  font-size: 2.5rem;
  margin: 180px 0 0 160px;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: 1500px;
  max-height: none;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 3;
  border-top: 2px solid #616161;
  border-bottom: 2px solid #616161;
  background-color: #FAFAFA;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  flex-grow: 2;
  gap: 30px;
  margin: 0 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.menu__item {
  list-style: none;
}
.menu__item--active {
  color: #616161;
  text-decoration: underline;
}
.menu__link {
  text-decoration: none;
  color: #424242;
  font-family: "Segoe UI";
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.menu__link:hover {
  color: #E0E0E0;
}
.menu .search {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.menu .search__input {
  display: none;
  width: 180px;
  height: 44px;
  max-width: none;
  max-height: none;
  padding: 0 10px;
  margin-right: 15px;
  border-radius: 20px;
  border: #E0E0E0 2px solid;
}
.menu .search__input:focus {
  width: 200px;
}

.about {
  position: relative;
  width: 100%;
  margin: 20px auto;
  scroll-margin-top: 120px;
}
.about__photo {
  width: 100%;
  height: 500px;
  max-width: none;
  max-height: none;
  overflow: hidden;
  border-radius: 20px;
}
.about__img {
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
  width: 40%;
  padding: 30px 40px 20px 0;
  border-radius: 20px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #E0E0E0;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.about__title {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0 30px 0;
}
.about__text {
  padding: 10px;
}
.about__text--wrap {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  display: block;
}
.about__text--long {
  display: none;
}
.about__text--long span {
  display: block;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
}
.about__collapsed--wrap {
  display: block;
}
.about__collapsed--long {
  display: block;
}
.about__info--expanded {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
  gap: 10px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  color: #E0E0E0;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.7);
  animation: revealText 0.5s 0.3s forwards;
}
.about--transition {
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.shop {
  width: 100%;
  height: auto;
  max-width: 1500px;
  max-height: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  scroll-margin-top: 100px;
}
.shop__content {
  display: block;
  border-top: 2px solid #616161;
  border-bottom: 2px solid #616161;
}
.shop__title {
  font-family: "Segoe UI";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 20px 10px;
}
.shop__text {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 10px 10px 20px 10px;
}
.shop__select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
  margin: 0 auto;
  padding: 10px 0;
}
.shop__sortTitle {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 0 10px;
}
.shop__sortItem {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0 10px;
  padding: 4px;
  border: 2px solid #E0E0E0;
  border-radius: 20px;
  cursor: pointer;
}
.shop__sortItem:hover {
  border: 2px solid #4CAF50;
}
.shop__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1500px;
}
.shop .product-card {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in-out;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shop .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 2px 2px 2px rgba(220, 220, 220, 0.2);
  cursor: pointer;
}
.shop .product-card img {
  width: 100%;
  height: auto;
  margin: 5px auto;
}
.shop .product-card h3 {
  margin-bottom: auto;
}
.shop .product-card p {
  margin-bottom: 5px;
}
.shop .product-availability {
  font-weight: bold;
}
.shop .product-availability.available {
  color: #424242;
}
.shop .product-availability.unavailable {
  color: #FF0000;
}
.shop .pagination {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #FFFFFF;
  right: 5px;
  margin-bottom: 5px;
  height: auto;
  width: 150px;
  border-radius: 20px;
}
.shop .page__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
.shop .page__item {
  margin: 5px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  color: #38743b;
}
.shop .page__item {
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  color: #616161;
  transition: #616161 0.3s ease;
  margin: 0 2px; /* Dodane marginesy */
}
.shop .page__item--active {
  color: #38743b;
  text-decoration: underline;
}
.shop .page__link:hover {
  background-color: #ddd;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: none;
  max-height: none;
  margin: 0 auto;
  padding: 10px 0 0 0;
  background-color: #FAFAFA;
  border-top: 2px solid #616161;
}
.footer__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: 1500px;
  max-height: none;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.footer__logo {
  margin: 0 auto;
}
.footer__info {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px 48px;
}
.footer__info .companyName {
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: 1500px;
  max-height: none;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__icon {
  fill: #38743b;
  height: 40px;
  margin-right: 10px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: justify;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  flex: 1;
}
.footer__phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 16px 48px;
  color: #FF0000;
}
.footer__phone .phoneTitle {
  font-family: "Segoe UI";
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer__department {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 12px 48px;
}
.footer__departmentTitle {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}
.footer__link {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 0;
  color: #4CAF50;
  text-decoration: none;
  transition: background-color 0.3s;
}
.footer__link:hover {
  color: #38743b;
}
.footer__form {
  padding: 0 0 8px 0;
  flex: 1;
}
.footer__email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  font-family: "Segoe UI";
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 16px 12px;
}
.footer__labelTitle {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0;
}
.footer__labelInput {
  width: 100%;
  height: 40px;
  max-width: none;
  max-height: none;
  margin: 8px 0;
  padding: 5px;
  border-radius: 5px;
  border: #cfcfcf 1px solid;
}
.footer__labelInput:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 8px rgba(56, 116, 59, 0.8);
}
.footer #message {
  width: 100%;
  height: 80%;
  max-width: none;
  max-height: none;
  resize: none;
}
.footer__contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: justify;
  width: 100%;
  height: auto;
  max-width: 1500px;
  max-height: none;
  padding: 0 12px 12px 12px;
}
.footer .copyright {
  width: 1500px;
  height: auto;
  max-width: none;
  max-height: none;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #FFFFFF;
  color: #3d8b40;
}/*# sourceMappingURL=style.css.map */