@use "./variables" as *;
@use "./mixins" as *;

.logo{
    flex-grow: 1;
    @include setDimensions(100%, auto, 200px);
    &__img{
        width: 100%;
        border-radius: 50px;
    }
}
@media only screen and (max-width: 480px) {
    .logo{
        @include setDimensions(100%, auto, 100px);
    }
}

@media screen and (min-width: 480px) and (max-width: 992px) {
    .logo{
        @include setDimensions(100%, auto, 120px);
    }
}