@use "./variables" as *;

@mixin setFlex ($flex-direction, $justify-content: center, $align-items: center, $flex-wrap: nowrap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    text-align: justify;
    flex-wrap: $flex-wrap;
}

@mixin setFont ($font-family, $font-size: 16px, $font-weight: 300, $letter-spacing: 1px) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}

@mixin setDimensions($width, $height, $max-width: none, $max-height: none) {
    width: $width;
    height: $height;
    max-width: $max-width;
    max-height: $max-height;
}
