//Colors

$primary-color: #E0E0E0;
$primary-color-medium: #636363; 
$primary-color-dark: #424242;

$secondary-color: #4CAF50;
$secondary-color-dark: #38743b;

$bg-color:#FAFAFA;
$white: #FFFFFF;
$red: #FF0000;

$font-family:'Cinzel', serif;


$border-radius: 20px;
$border-radius-form: 5px;