$bg-color:#FAFAFA;
$btn-color: #4CAF50;
$btn-color-dark: #38743b;
$font-color: #E0E0E0;
$font-color-dark:#424242;
$detail-color: #616161;
$white: #FFFFFF;
$red: #FF0000;
$grey: #cfcfcf;

$font-family:'Cinzel', serif;


$border-radius: 20px;
$border-radius-form: 5px;