@use "./variables" as *;
@use "./buttons" as *;
@use "./logo" as *;
@use "./mixins" as *;
@use "./functions" as *;

*{
    box-sizing: border-box;
}
.page{
    @include setFlex(column, $justify-content: flex-start);
    align-content: center;
    max-width: convertPxToRem(1500);
    margin: 0 auto 0 auto; 
    min-height: 100vh;
    background-color: $bg-color;
    flex-wrap: wrap;
}
ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
.banner{
    @include setDimensions(100%, convertPxToRem(200), 100%);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    &__img{
        @include setDimensions(100%, 100%);
        display: block;
        object-fit: cover;
        border-radius: $border-radius;
    }
    &__titles{
        @include setFlex(column, space-between);
        @include setDimensions(100%, 80%);
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 5;
        text-align: center;
    }
    &__title{
        margin: 5px auto;
        color: $primary-color;
        @include setFont("Cinzel", $font-weight: 500, $letter-spacing:5px);
        text-transform: uppercase;

        &--large{
            font-size: convertPxToEm(50);
        }
        &--medium{
            font-size: convertPxToEm(30);
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        @include setDimensions(100%, 100%);
        border-radius: $border-radius;
        background-color: rgba(0, 0, 0, 0.75);
    }
}
.menu{
    @include setFlex(row, space-between);
    @include setDimensions(100%, auto, 1500px);
    margin: convertPxToRem(20) auto;
    position: sticky;
    top: 0;
    z-index: 3;
    border-top: 2px solid $primary-color-medium;
    border-bottom: 2px solid $primary-color-medium;
    background-color: $bg-color;
    padding: 4px 0 0 0;
    .menu-toggle {
        display: none;
    }
    .hamburger-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
    }
    .bar {
        display: block;
        background-color: $primary-color-dark;
        height: 3px;
        margin: 4px 0;
        transition: 0.4s;
        width: 25px;
    }
    &__list{
        @include setFlex(row, space-evenly);
        flex-grow: 2;
        gap: 30px;
        margin: 0 20px;
        text-transform: uppercase;
        position: relative; 
        z-index: 1;
    }
    &__item{
        list-style: none;
        &--active{
            color: $primary-color-medium;
            text-decoration: underline;
        }
    }
    &__link{
        text-decoration: none;
        color: $primary-color-dark;
        @include setFont("Segoe UI", convertPxToRem(18), $font-weight: 700);
        cursor: pointer;
        &:hover{
            color: $primary-color-medium;
        }
        
    }
    &__icon{
        fill: $secondary-color-dark;
        height: 40px;
        margin: 20px;
    }
    
    &__cart {
        position: relative;
        display: inline-block;
    }
    
    &__counter {
        position: relative;
        text-decoration: none;
        color: $primary-color-dark;
        @include setFont("Segoe UI", convertPxToEm(18), $font-weight: 700);
        cursor: pointer;
        &:hover {
            color: $primary-color-medium;
        }
    }
    &__cartItemCount {
        position: absolute;
        bottom: 50px; 
        right: 5px;
        background-color: $red;
        color: $primary-color;
        border-radius: 50%;
        width: 24px; 
        height: 24px;
        text-align: center;
        font-weight: bold;
    }
    // .search{
    //     position: relative; 
    //     @include setFlex(row);
    //     &__input{
    //         display: none;
    //         @include setDimensions(180px, 44px);
    //         padding: 0 10px;
    //         margin-right: 15px;
    //         border-radius: $border-radius;
    //         border: $primary-color 2px solid;
    //         &:focus{
    //             width: 200px;
    //         }
    //     }
        
    // }
}
.about{
    position: relative;
    width: 100%;
    margin: 0 auto;
    scroll-margin-top: 120px;
    &__photo{
        @include setDimensions(100%, auto, 100%, 500px);
        overflow: hidden;
        border-radius: $border-radius;
    }
    &__img{
        @include setDimensions(100%, auto);
        object-fit: cover;
        margin-bottom: -5px;
    }
    &__info{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        @include setFlex(column, flex-start, flex-start);
        width: 40%;
        padding: 30px 40px 20px 0;
        border-radius: $border-radius;
        @include setFont("Segoe UI");
        color: $primary-color;
        transition: background-color 0.3s ease; 
        background-color: transparent;
    }
    &__title{
        @include setFont("Segoe UI", 30px, 600);
        margin: 20px 0 30px 0;
    }
    &__text{
        padding: 10px;
    }
    &__text--wrap{
        @include setFont("Segoe UI", 16px, 400);
        display: block;
        text-indent: 20px;
    }
    &__text--long{
        display: none;
        text-indent: 20px;
        span{
            display: block; 
            @include setFont("Segoe UI", 20px, 700);
            margin-top: 40px;
        }
    }
    &__collapsed--wrap {
        display: block;
    } 
    &__collapsed--long {
        display: block;
    }
    &__info--expanded {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        @include setFlex(column, flex-start, flex-start);
        gap: 10px;
        width: 100%;
        border-radius: $border-radius;
        padding: 20px;
        color: $primary-color;
        @include setFont("Segoe UI", 16px, 400);
        background-color: rgba(0, 0, 0, 0.7);
        animation: revealText 0.5s 0.3s forwards;
    }
    &--transition {
        transition: background-color 0.3s ease;
        border-radius: 20px;
    }
}
.shop{
    @include setDimensions(100%, auto, 1500px);
    @include setFlex(column);
    scroll-margin-top: 100px;
    margin: 20px auto;
    &__content{
        display: block;
        border-top: 2px solid $primary-color-medium;
        border-bottom: 2px solid $primary-color-medium;
    }
    &__title{
        @include setFont("Segoe UI", 30px, 600, 0px);
        margin: 20px 10px;
    }
    &__text{
        @include setFont("Segoe UI", 16px, 400, 0px);
        margin: 10px 10px 20px 10px;
        text-indent: 20px;
    }
    &__select{
        @include setFlex(row, space-evenly);
        @include setDimensions(100%, auto);
        margin: 0 auto;
        padding: 10px 0;
    }
    &__sortTitle{
        @include setFont("Segoe UI", 18px, 500, 0px);
        margin: 0 10px;
    }
    &__sortItem{
        @include setFont("Segoe UI", 16px, 400, 0px);
        margin: 0 10px;
        padding: 4px;
        border: 2px solid $primary-color;
        border-radius: $border-radius;
        cursor: pointer;
        &:hover{
            border: 2px solid $secondary-color; 
        }
    }
    &__products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 1500px;
    }
    .product-card-template{
        flex: 0 1 calc(25% - 20px);
        margin: 10px;
        height: 500px;
        padding: 15px;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        border-radius: $border-radius;
        text-align: center;
        background-color: $white;
        transition: transform 0.2s ease-in-out;
        @include setFont("Segoe UI", 16px, 400, 0px);
        &:hover {
            transform: translateY(-5px); 
            box-shadow: 0px 2px 2px 2px rgba(220, 220, 220, 0.2);
            cursor: pointer;
        }
    }
    .product-image {
        width: auto;
        height: 260px;
        margin: 0 auto;
        max-height: 90%;
    }
    .product-name {
        margin: 10px 0;
        max-height: 70px;
        height: 100%;
    }
    .product-card-template p {
        margin: 5px 0;
    }
    .product-availability {
        font-weight: bold;
    }
    .product-availability.available {
        color: $secondary-color-dark;
    } 
    .product-availability.unavailable {
        color: $red;
    }
    .pagination{
        display: flex;
        flex-wrap: nowrap;
        background-color: $white;
        margin-bottom: 5px;
        height: auto;
        border-radius: $border-radius;
    }

    .page__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        cursor: pointer;
    }

    .page__item {
        font-size: large;
        font-weight: bold;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        color: $primary-color-medium;
        &--active { 
            color: $secondary-color-dark;
            text-decoration: underline;
        }
    }

    .page__link:hover {
        background-color: #ddd;
    }
}
.footer{
    @include setFlex(column, space-between);
    @include setDimensions(100%, auto, 100%, auto);
    margin: 0 auto;
    padding: 10px 0 0 0;
    background-color: $bg-color;
    border-top: 2px solid $primary-color-medium;
    &__name{
        @include setFlex(row, space-between);
        @include setDimensions(100%, auto, 1500px);
        margin: 0 auto;
        padding: 10px 0;
        background-color: $white;
        border-radius: $border-radius;
    }
    &__logo{
        margin: 0 auto;
    }
    &__info{
        @include setFont("Segoe UI", 16px, 600, 1px);
        margin: 5px 48px;
        .companyName{
            @include setFont("Segoe UI", 20px, 700, 1px);
            text-transform: uppercase;
        }
    }
    &__content{
        @include setFlex(row);
        @include setDimensions(100%, auto, 1500px);
        align-content: flex-start;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__icon{
        fill: $secondary-color-dark;
        height: 40px;
        margin-right: 10px;
    }
    &__contact{
        @include setFlex(column, $align-items: flex-start, $justify-content: space-between);
        @include setDimensions(100%, 100%);
        flex: 1;
    }
    &__phone{
        @include setFlex(row, $align-items: center);
        margin: 16px 48px;
        color: $red;
        .phoneTitle{
            @include setFont("Segoe UI", 25px, 700, 1px);
        }
    }
    &__department{
        @include setFont("Segoe UI", 16px, 700, 1px);
        margin: 0 0 12px 48px;  
    }
    &__departmentTitle{
        @include setFont("Segoe UI", 18px, 700, 1px);
        margin: 0;
    }
    &__link{
        @include setFont("Segoe UI", 16px, 500, 1px);
        padding: 8px 0;
        color: $secondary-color;
        text-decoration: none; 
        transition: background-color 0.3s;
        &:hover {
            color: $secondary-color-dark; 
        }
    }
    &__form{
        padding: 0 0 8px 0;
        flex: 1;
    }
    &__email{
        @include setFlex(row, $align-items: center, $justify-content: flex-start);
        @include setFont("Segoe UI", 25px, 700, 1px);
        margin: 16px 12px;
    }
    &__labelTitle{
        @include setFont("Segoe UI", 18px, 700, 1px);
        padding: 0;
    }
    &__labelInput{
        @include setDimensions(100%, 40px);
        margin: 8px 0;
        padding: 5px;
        border-radius: $border-radius-form;
        border: $primary-color 1px solid;
        &:focus{
            outline: none; 
            border: none;
            box-shadow: 0 0 8px rgba($secondary-color-dark, 0.8);
        }
    }
    #message{
        @include setDimensions(100%, 80%);
        resize: none;
    }
    &__contactForm{
        @include setFlex(column, $align-items: stretch);
        @include setDimensions(100%, auto, 1500px);
        padding: 0 12px 12px 12px;
    }
    .copyright{
        @include setDimensions(100%, auto);
        @include setFont("Segoe UI", 12px, 700, 1px);
        margin: 0;
        padding: 10px 0;
        background-color: $white;
        color: darken($secondary-color, 10%);
    }
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 20;
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        height: 100%;
        max-height: 200px;
        background-color: white;
        margin: 5px;
        border-radius: $border-radius;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    #modalMessage {
        @include setFont("Segoe UI", 20px, 600, 1px);
        padding: 10px;
    }
}
.cart{
    @include setFlex(column, $justify-content: flex-start);
    max-width: 1500px;
    margin: 0 auto 0 auto; 
    min-height: 100vh;
    background-color: $bg-color;
    margin-bottom: 30px;
    &__title{
        @include setFont("Segoe UI", 30px, 700, 0px);
        margin: 20px auto;
    }
    &__contener{
        @include setDimensions(100%, auto, 1500px);
        margin: 0 auto;
        border-radius: $border-radius;
    }
    &__items{
        @include setFlex(column, $justify-content: flex-start);
        @include setDimensions(100%, auto, 1500px);
        margin: 0 auto;
        
    }
    &__icon{
        fill: $secondary-color-dark;
        height: 20px;
        margin: 20px;
    }
    &__singleItem{
        @include setFlex(row, $justify-content: space-between);
        @include setDimensions(100%, auto);
        margin: 5px auto;
        padding: 20px;
        background-color: $white;
        border-radius: $border-radius;
    
        .product-image{
            @include setDimensions(30%, auto);
            object-fit: cover;
            border-radius: $border-radius;
        }
        .product-name{
            @include setFont("Segoe UI", 18px, 500, 0px);
            @include setDimensions(30%, auto);
            object-fit: cover;
            margin: 10px;
            border: 2px solid $secondary-color-dark;
            border-radius: $border-radius;
            padding: 10px 20px;
        }
        .product-price{
            @include setFont("Segoe UI", 20px, 700, 0px);
            @include setDimensions(20%, auto);
            object-fit: cover;
            margin: 10px;
            text-align: center;
        }
    }
    &__itemQuantity{
        @include setFont("Segoe UI", 16px, 500, 0px);
        @include setFlex(row, $align-items: center, $justify-content: space-between);
        @include setDimensions(100px, auto, none,  40px);
        margin: 10px;
        color: $primary-color-dark;
        border: 1px solid $primary-color;
        border-radius: $border-radius-form;
    }
    &__summary{
        @include setFlex(row, $justify-content: flex-end);
        @include setDimensions(100%, auto);
        margin: 10px 0;
        padding: 20px;
        background-color: $white;
        border-radius: $border-radius;
    }
    &__summaryTitle{
        @include setFont("Segoe UI", 24px, 500, 0px);
        @include setDimensions(20%, auto);
        object-fit: cover;
        margin: 10px;
    }
    &__summaryPrice{
        @include setFont("Segoe UI", 30px, 700, 0px);
            object-fit: cover;
            margin: 10px;
            text-align: center;
            font-size: larger;
    }
}

@media only screen and (max-width: 576px) {
    *{
        ::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }
    .page{
        max-width: convertPxToRem(576);
    }
    .banner{
        @include setDimensions(100%, convertPxToRem(90), 100%);
        // @include setFlex(column, space-around, $align-items: none, center);
        position: relative;
        &__titles{
            top: 5px;
        }
        &__title{
            &--large{
                font-size: convertPxToEm(20);
            }
            &--medium{
                font-size: convertPxToEm(16);
            }
        }
        .button__banner{
            display:none;
        }
    }
    .menu{
        margin: convertPxToRem(5) auto;
        position: static;
        top: 100px;
        &__icon{
            height: 20px;
            margin: 10px 20px;
        }
        &__cartItemCount {
            bottom: 25px; 
            right: 15px;
            width: 12px; 
            height: 12px;
            font-size: 10px; 
        }
        .menu-toggle{
            flex: 2;
            display: block;
            margin-bottom: 4px;
        }
        .menu__list {
            display: none; 
            position: absolute;
            top: 0; 
            left: 0;
            margin: 0;
            width: 100%;
            height: 90px; 
            background-color: $bg-color; 
            z-index: 20; 
            transform: translateX(-100%); 
            transition: transform 0.3s;
        }
        .menu__item{
            margin: 5px 0;
            border-bottom: 1px solid $primary-color;
        }
        .menu__item:last-child {
            border-bottom: none; 
        }
        .menu-toggle.active + .menu__list.active{
            display: block;
            transform: translateX(0);
        }
        
        .hamburger-button.active .bar:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 5px);
        }
    
        .hamburger-button.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger-button.active .bar:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -5px);
        }
    }
    .about{
        scroll-margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__photo{
            @include setDimensions(100%, auto, 100%, 250px);
        }
        &__info{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            padding: 0;
            z-index: 8;
        }
        &__title{
            @include setFont("Segoe UI", 20px, 600);
            margin: 10px auto;
        }
        &__text--wrap{
            @include setFont("Segoe UI", 12px, 600);
            display: block;
            margin: 0 20px;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9), transparent);
        }
        &__text--long{
            height: auto;
            margin: 20px;
            @include setFont("Segoe UI", 12px, 600);
            span{
                display: none; 
            } 
        }
    } 
    .shop{
        @include setDimensions(100%, auto, 576px);
        scroll-margin-top: 5px;
        margin: 5px auto;
        &__title{
            @include setFont("Segoe UI", 18px, 600, 0px);
            margin: 8px 8px;
        }
        &__text{
            @include setFont("Segoe UI", 12px, 400, 0px);
            margin: 10px 10px 20px 10px;
        }
        &__sortTitle{
            @include setFont("Segoe UI", 14px, 500, 0px);
            margin: 0 10px;
        }
        &__sortItem{
            @include setFont("Segoe UI", 12px, 400, 0px);
            margin: 0 5px;
            padding: 2px;
        }
        &__products{
            justify-content: center; 
            max-width: 576px; 
        }
        .product-card-template{
            flex: 0 1 calc(25% - 20px);
            margin: 5px;
            max-height: 320px;
            padding: 8px;
            @include setFont("Segoe UI", 12px, 300, 0px);
        }
        .product-image {
            width: auto;
            height: 120px;
            margin: 0 auto;
            max-height: 90%;
        }
        .product-name {
            margin: 5px 0;
            max-height: 70px;
            height: 100%;
        }
    }
    .footer{
        @include setDimensions(100%, auto, 576px);
        scroll-margin-top: 5px;
        &__info{
            @include setFont("Segoe UI", 14px, 600, 1px);
            margin: 5px 20px;
            .companyName{
                @include setFont("Segoe UI", 16px, 700, 1px);
            }
        }
        &__content{
            @include setFlex(column, flex-start, space-between flex-start);
            @include setDimensions(100%, auto, 576px);
        }
        &__phone{
            @include setFlex(row, $align-items: center);
            margin: 15px 20px;
            color: $red;
            .phoneTitle{
                @include setFont("Segoe UI", 24px, 700, 1px);
            }
        }
        &__department{
            margin: 5px 0 5px 20px;  
        }
        &__department p{
            margin: 0;  
        }
        &__departmentTitle{
            @include setFont("Segoe UI", 16px, 700, 1px);
        }
        &__link{
            @include setFont("Segoe UI", 14px, 700, 1px); 
        }
        &__form{
            width: 100%;
            padding: 0 0 8px 20px;
            flex: 1;
        }
        &__contactForm{
            @include setFlex(column, $align-items: stretch);
            @include setDimensions(100%, auto, 576px);
            padding: 0;
        }
        &__email{
            margin: 16px 0;
        }
        &__formTitle{
            @include setFont("Segoe UI", 24px, 700, 1px);
            padding: 0;
        }
        &__labelTitle{
            @include setFont("Segoe UI", 14px, 700, 1px);
            padding: 0;
        }
    }
    .modal{
        .modal-content{
            width: 100%;
            max-width: 480px;
            height: 100%;
            max-height: 200px;
            padding: 10px;
        }
        #modalMessage{
            @include setFont("Segoe UI", 14px, 600, 1px);
            padding: 0;
        }
    }
    .cart{
        max-width: 576px;
        &__title{
            @include setFont("Segoe UI", 22px, 700, 0px);
        }
        &__contener{
            @include setDimensions(100%, auto, 576px);
        }
        &__singleItem{
            display: grid;
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr minmax(auto, 40px) minmax(auto, 50px) minmax(auto, 40px);
            gap: 4px; 
            align-items: center;
        }
        .product-image{
            @include setDimensions(100%, auto);
            grid-row: span 4;
        }
        .product-name{
            @include setFont("Segoe UI", 14px, 500, 0px);
            @include setDimensions(100%, auto);
            margin: 0;
        }
        .product-price{
            @include setFont("Segoe UI", 16px, 700, 0px);
            @include setDimensions(100%, auto);
            margin: 0px;
        }
        .cart__itemQuantity {
            @include setFont("Segoe UI", 16px, 500, 0px);
            @include setDimensions(100px, auto, none,  30px);
            margin: 5px auto;
        }
        .btn-remove {
            @include setDimensions(100%, auto);
            text-align: center; 
        }
        &__summary{
            margin: 10px 0;
            padding: 10px;
        }
        &__summaryTitle{
            @include setFont("Segoe UI", 18px, 500, 0px);
        }
        &__summaryPrice{
            @include setFont("Segoe UI", 18px, 700, 0px);
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    *{
        ::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
    }
    .page{
        max-width: convertPxToRem(992);
    }
    .banner{
        @include setDimensions(100%, convertPxToRem(150), 100%);
        &__titles{
            top: 10px;
        }
        &__title{
            &--large{
                font-size: convertPxToEm(36);
            }
            &--medium{
                font-size: convertPxToEm(28);
            }
        }
    }
    .menu{
        margin: convertPxToRem(5) auto;
        position: static;
        top: 100px;
        &__icon{
            height: 30px;
            margin: 10px 20px;
        }
        &__cartItemCount {
            bottom: 35px; 
            right: 15px;
            width: 12px; 
            height: 12px;
            font-size: 10px; 
        }
        .menu__list {
            width: 100%;
            height: 70px; 
        }
    }
    .about{
        scroll-margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__photo{
            @include setDimensions(100%, auto, 100%, 320px);
        }
        &__info{
            width: 100%;
            padding: 30px 40px 20px 40px;
        }
        &__info--expanded {
            @include setFont("Segoe UI", 16px, 500);
        }
        &__title{
            @include setFont("Segoe UI", 24px, 600);
            margin: 0;
        }
        &__text--wrap{
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9), transparent);
            padding: 20px 0;
            margin:0;
            @include setFont("Segoe UI", 16px, 500);
        }
        &__text--long{
            height: auto;
            margin: 20px;
            @include setFont("Segoe UI", 14px, 500);
            span{
                display: none; 
            } 
        }
        &__collapsed--wrap {
            padding: 0;
        }
        &__info--expanded {
            padding: 30px 40px 20px 40px;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    .shop{
        @include setDimensions(100%, auto, 992px);
        scroll-margin-top: 5px;
        margin: 5px auto;
        &__title{
            @include setFont("Segoe UI", 22px, 600, 0px);
            margin: 8px 8px;
        }
        &__text{
            @include setFont("Segoe UI", 16px, 400, 0px);
            margin: 10px 10px 20px 10px;
        }
        &__sortTitle{
            @include setFont("Segoe UI", 16px, 500, 0px);
            margin: 0 10px;
        }
        &__sortItem{
            @include setFont("Segoe UI", 14px, 400, 0px);
            margin: 0 5px;
            padding: 2px;
        }
        &__products{
            justify-content: center; 
            align-items: flex-start; 
            max-width: 992px; 
            flex-wrap: wrap; 
            position: relative;
        }
        &__products::after {
            content: ""; 
            flex: 0 1 calc(25% - 15px); 
            margin: 5px; 
        }
        .product-card-template{
        flex: 0 1 calc(25% - 15px);
        margin: 5px;
        max-height: 320px;
        padding: 8px;
        @include setFont("Segoe UI", 12px, 300, 0px);
        }
        .product-image {
            width: auto;
            height: 120px;
            margin: 0 auto;
            max-height: 90%;
        }
        .product-name {
            margin: 5px 0;
            max-height: 70px;
            height: 100%;
        }
        
    }
    .footer{
        @include setDimensions(100%, auto, 922px);
        scroll-margin-top: 5px;
        &__info{
            @include setFont("Segoe UI", 16px, 600, 1px);
            margin: 5px 20px;
            .companyName{
                @include setFont("Segoe UI", 18px, 700, 1px);
            }
        }
        &__phone{
            @include setFlex(row, $align-items: center);
            margin: 15px 20px;
            color: $red;
            .phoneTitle{
                @include setFont("Segoe UI", 18px, 700, 1px);
            }
        }
        &__department{
            margin: 5px 0 5px 20px;  
        }
        &__formTitle{
            @include setFont("Segoe UI", 18px, 700, 1px);
            padding: 0;
        }
    }
    .modal{
        .modal-content{
            max-width: 600px;
            max-height: 180px;
        }
    }
};