@use "./variables" as *;
@use "./buttons" as *;
@use "./logo" as *;
@use "./mixins" as *;
@use "./functions" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.page{
    @include setFlex(column);
    max-width: 1500px;
    margin: 20px auto; 
    min-height: 100vh;
    background-color: $bg-color;
}
.banner{
    @include setDimensions(100%, auto);
    margin: 0 auto 20px auto;
    position: relative;
    overflow: hidden;
    &__img{
        max-width: 100%;
        display: block;
        object-fit: cover;
        border-radius: $border-radius;
    }
    &__title{
        position: absolute;
        top: 5%;
        left: 16%;
        transform: translate(-50%, 50%);
        color: $font-color;
        @include setFont("Segoe UI", $font-weight: 500);

        &--large{
            font-size: convertPxToRem(50);
        }
        &--medium{
            font-size: convertPxToRem(30);
            margin: 100px 0 0 10px;
        }
    }
}
.menu{
    @include setFlex(row, space-between);
    @include setDimensions(100%, auto, 1500px);
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $bg-color;
    border-top: 2px solid $detail-color;
    border-bottom: 2px solid $detail-color;
    
    &__list{
        @include setFlex(row, space-evenly);
        flex-grow: 2;
        gap: 30px;
        margin: 0 20px;
        text-transform: uppercase;
        position: relative; 
        z-index: 1;
    }
    &__item{
        list-style: none;
        &--active{
            color: $detail-color;
            text-decoration: underline;
        }
    }
    &__link{
        text-decoration: none;
        color: $font-color-dark;
        @include setFont("Segoe UI", convertPxToRem(18), $font-weight: 700);
        cursor: pointer;
        &:hover{
            color: $font-color;
        }
        
    }
    .search{
        position: relative; 
        @include setFlex(row);
        &__input{
            display: none;
            @include setDimensions(180px, 44px);
            padding: 0 10px;
            margin-right: 15px;
            border-radius: $border-radius;
            border: $font-color 2px solid;
            background-color: $font-color;
            &:focus{
                width: 200px;
            }
        }
        
    }
}
.about{
    position: relative;
    width: 100%;
    margin: 20px auto;
    scroll-margin-top: 120px;
    &__photo{
        @include setDimensions(100%, 500px);
        overflow: hidden;
        border-radius: $border-radius;
    }
    &__img{
        @include setDimensions(100%, auto);
        object-fit: cover;
    }
    &__info{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 4px;
        @include setFlex(column, flex-start, flex-start);
        width: 40%;
        padding: 30px 40px 20px 0;
        border-radius: $border-radius;
        @include setFont("Segoe UI");
        color: $font-color;
        transition: background-color 0.3s ease; 
        background-color: transparent;
    }
    &__title{
        @include setFont("Segoe UI", 30px, 600);
        margin: 20px 0 30px 0;
    }
    &__text{
        padding: 10px;
    }
    &__text--wrap{
        display: block;
    }
    &__text--long{
        display: none;
        span{
            display: block; 
            font-weight: bold; 
            margin-top: 20px;
        }
    }
    &__collapsed--wrap {
        display: block;
    } 
    &__collapsed--long {
        display: block;
    }
    &__info--expanded {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 4px;
        @include setFlex(column, flex-start, flex-start);
        gap: 10px;
        width: 100%;
        border-radius: $border-radius;
        padding: 20px;
        color: $font-color;
        @include setFont("Segoe UI");
        background-color: rgba(0, 0, 0, 0.7);
        animation: revealText 0.5s 0.3s forwards;
    }
    &--transition {
        transition: background-color 0.3s ease;
        border-radius: 20px;
    }
}
.footer{
    @include setFlex(row, space-between);
    @include setDimensions(100%, auto);
    margin: 0 auto;
    padding: 10px 0;
    background-color: $bg-color;
    border-top: 2px solid $detail-color;
}

