@use "./variables" as *;
@use "./buttons" as *;
@use "./logo" as *;
@use "./mixins" as *;
@use "./functions" as *;

*{
    box-sizing: border-box;
}
.page{
    @include setFlex(column);
    max-width: 1500px;
    margin: 0 auto 0 auto; 
    min-height: 100vh;
    background-color: $bg-color;
}
ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
.banner{
    @include setDimensions(100%, 200px);
    margin: 0 auto 20px auto;
    position: relative;
    overflow: hidden;
    &__img{
        @include setDimensions(100%, 100%);
        display: block;
        object-fit: cover;
        border-radius: $border-radius;
    }
    &__title{
        position: absolute;
        top: 0;
        left: 0;
        color: $font-color;
        @include setFont("Cinzel", $font-weight: 500, $letter-spacing:5px);

        &--large{
            font-size: convertPxToRem(60);
            margin: 30px 0 0 100px;
        }
        &--medium{
            font-size: convertPxToRem(40);
            margin: 100px 0 0 250px;
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        @include setDimensions(100%, 100%);
        border-radius: $border-radius;
        background-color: rgba(0, 0, 0, 0.75);
    }
}
.menu{
    @include setFlex(row, space-between);
    @include setDimensions(100%, auto, 1500px);
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 3;
    border-top: 2px solid $detail-color;
    border-bottom: 2px solid $detail-color;
    background-color: $bg-color;
    &__list{
        @include setFlex(row, space-evenly);
        flex-grow: 2;
        gap: 30px;
        margin: 0 20px;
        text-transform: uppercase;
        position: relative; 
        z-index: 1;
    }
    &__item{
        list-style: none;
        &--active{
            color: $detail-color;
            text-decoration: underline;
        }
    }
    &__link{
        text-decoration: none;
        color: $font-color-dark;
        @include setFont("Segoe UI", convertPxToRem(18), $font-weight: 700);
        cursor: pointer;
        &:hover{
            color: $font-color-medium;
        }
        
    }
    &__icon{
        fill: $btn-color-dark;
        height: 40px;
        margin: 20px;
    }
    .search{
        position: relative; 
        @include setFlex(row);
        &__input{
            display: none;
            @include setDimensions(180px, 44px);
            padding: 0 10px;
            margin-right: 15px;
            border-radius: $border-radius;
            border: $font-color 2px solid;
            &:focus{
                width: 200px;
            }
        }
        
    }
}
.about{
    position: relative;
    width: 100%;
    margin: 20px auto;
    scroll-margin-top: 120px;
    &__photo{
        @include setDimensions(100%, 500px);
        overflow: hidden;
        border-radius: $border-radius;
    }
    &__img{
        @include setDimensions(100%, auto);
        object-fit: cover;
    }
    &__info{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 4px;
        @include setFlex(column, flex-start, flex-start);
        width: 40%;
        padding: 30px 40px 20px 0;
        border-radius: $border-radius;
        @include setFont("Segoe UI");
        color: $font-color;
        transition: background-color 0.3s ease; 
        background-color: transparent;
    }
    &__title{
        @include setFont("Segoe UI", 30px, 600);
        margin: 20px 0 30px 0;
    }
    &__text{
        
        padding: 10px;
    }
    &__text--wrap{
        @include setFont("Segoe UI", 16px, 400);
        display: block;
    }
    &__text--long{
        display: none;
        span{
            display: block; 
            @include setFont("Segoe UI", 20px, 700);
            margin-top: 20px;
        }
    }
    &__collapsed--wrap {
        display: block;
    } 
    &__collapsed--long {
        display: block;
    }
    &__info--expanded {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        @include setFlex(column, flex-start, flex-start);
        gap: 10px;
        width: 100%;
        border-radius: $border-radius;
        padding: 20px;
        color: $font-color;
        @include setFont("Segoe UI", 16px, 400);
        background-color: rgba(0, 0, 0, 0.7);
        animation: revealText 0.5s 0.3s forwards;
    }
    &--transition {
        transition: background-color 0.3s ease;
        border-radius: 20px;
    }
}
.shop{
    @include setDimensions(100%, auto, 1500px);
    @include setFlex(column);
    scroll-margin-top: 100px;
    &__content{
        display: block;
        border-top: 2px solid $detail-color;
        border-bottom: 2px solid $detail-color;
    }
    &__title{
        @include setFont("Segoe UI", 30px, 600, 0px);
        margin: 20px 10px;
    }
    &__text{
        @include setFont("Segoe UI", 16px, 400, 0px);
        margin: 10px 10px 20px 10px;
    }
    &__select{
        @include setFlex(row, space-evenly);
        @include setDimensions(100%, auto);
        margin: 0 auto;
        padding: 10px 0;
    }
    &__sortTitle{
        @include setFont("Segoe UI", 18px, 500, 0px);
        margin: 0 10px;
    }
    &__sortItem{
        @include setFont("Segoe UI", 16px, 400, 0px);
        margin: 0 10px;
        padding: 4px;
        border: 2px solid $font-color;
        border-radius: $border-radius;
        cursor: pointer;
        &:hover{
            border: 2px solid $btn-color; 
        }
    }
    &__products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 1500px;
    }
    .product-card-template{
        flex: 0 1 calc(25% - 20px);
        margin: 10px;
        height: 500px;
        padding: 15px;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        border-radius: $border-radius;
        text-align: center;
        background-color: $white;
        transition: transform 0.2s ease-in-out;
        @include setFont("Segoe UI", 16px, 400, 0px);
        &:hover {
            transform: translateY(-5px); 
            box-shadow: 0px 2px 2px 2px rgba(220, 220, 220, 0.2);
            cursor: pointer;
        }
    }
    .product-image {
        width: auto;
        height: 260px;
        margin: 0 auto;
        max-height: 90%;
    }
    .product-name {
        margin: 10px 0;
        max-height: 70px;
        height: 100%;
    }
    .product-card-template p {
        margin: 5px 0;
    }
    .product-availability {
        font-weight: bold;
    }
    .product-availability.available {
        color: $btn-color-dark;
    } 
    .product-availability.unavailable {
        color: $red;
    }
    .pagination{
        display: flex;
        flex-wrap: nowrap;
        background-color: $white;
        margin-bottom: 5px;
        height: auto;
        border-radius: $border-radius;
    }

    .page__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        cursor: pointer;
    }

    .page__item {
        font-size: large;
        font-weight: bold;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        color: $detail-color;
        &--active { 
            color: $btn-color-dark;
            text-decoration: underline;
        }
    }

    .page__link:hover {
        background-color: #ddd;
    }
}
.footer{
    @include setFlex(column, space-between);
    @include setDimensions(100%, auto);
    margin: 0 auto;
    padding: 10px 0 0 0;
    background-color: $bg-color;
    border-top: 2px solid $detail-color;
    &__name{
        @include setFlex(row, space-between);
        @include setDimensions(100%, auto, 1500px);
        margin: 0 auto;
        padding: 10px 0;
        background-color: $white;
        border-radius: $border-radius;
    }
    &__logo{
        margin: 0 auto;
    }
    &__info{
        @include setFont("Segoe UI", 16px, 600, 1px);
        margin: 5px 48px;
        .companyName{
            @include setFont("Segoe UI", 20px, 700, 1px);
            text-transform: uppercase;
        }
    }
    &__content{
        @include setFlex(row);
        @include setDimensions(100%, auto, 1500px);
        align-content: flex-start;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__icon{
        fill: $btn-color-dark;
        height: 40px;
        margin-right: 10px;
    }
    &__contact{
        @include setFlex(column, $align-items: flex-start, $justify-content: space-between);
        @include setDimensions(100%, 100%);
        flex: 1;
    }
    &__phone{
        @include setFlex(row, $align-items: center);
        margin: 16px 48px;
        color: $red;
        .phoneTitle{
            @include setFont("Segoe UI", 25px, 700, 1px);
        }
    }
    &__department{
        @include setFont("Segoe UI", 16px, 700, 1px);
        margin: 0 0 12px 48px;  
    }
    &__departmentTitle{
        @include setFont("Segoe UI", 18px, 700, 1px);
        margin: 0;
    }
    &__link{
        @include setFont("Segoe UI", 16px, 500, 1px);
        padding: 8px 0;
        color: $btn-color;
        text-decoration: none; 
        transition: background-color 0.3s;
        &:hover {
            color: $btn-color-dark; 
        }
    }
    &__form{
        padding: 0 0 8px 0;
        flex: 1;
    }
    &__email{
        @include setFlex(row, $align-items: center, $justify-content: flex-start);
        @include setFont("Segoe UI", 25px, 700, 1px);
        margin: 16px 12px;
    }
    &__labelTitle{
        @include setFont("Segoe UI", 18px, 700, 1px);
        padding: 0;
    }
    &__labelInput{
        @include setDimensions(100%, 40px);
        margin: 8px 0;
        padding: 5px;
        border-radius: $border-radius-form;
        border: $grey 1px solid;
        &:focus{
            outline: none; 
            border: none;
            box-shadow: 0 0 8px rgba($btn-color-dark, 0.8);
        }
    }
    #message{
        @include setDimensions(100%, 80%);
        resize: none;
    }
    &__contactForm{
        @include setFlex(column, $align-items: stretch);
        @include setDimensions(100%, auto, 1500px);
        padding: 0 12px 12px 12px;
    }
    .copyright{
        @include setDimensions(1500px, auto);
        @include setFont("Segoe UI", 12px, 700, 1px);
        margin: 0 auto;
        padding: 10px 0;
        background-color: $white;
        color: darken($btn-color, 10%);
    }
}

